<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myHealth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C6DB1AA1F64E32A004B39C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C6DB1C11F64E32A004B39C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C6DB1CC1F64E32A004B39C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
